.centerAuth {
    width:100%;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    /* padding-top: 8vh; */
    /* padding-bottom: 8vh; */
    background: white;
}

.loginLogo {
    padding: 10px;
}

.loginLogo >img {
    border: 2px black solid;
    /* position: absolute; */
    width: 60%;
    height: auto;
    /* left: 60px;
    top: 45px; */
    /* padding: 10% 0%; */
    margin: 15% 10%;
}

.loginLogo >h1 {
    margin: 10vw 0vh;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.536364px;
    color: #252529;
}

.containerButtons {
    border: 2px green ;
    margin-top:20%;
}



.iconImage {
    width: 25px;
    margin: 0 20px;
}


.loginBottomImage{
    margin: 0% 0% 0% 0%;
}


.signupLoginSwitch {
    border: 2px black solid;
    color:white ;
    background-color: #070000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    width: 100vw;
    /* padding-bottom: -10vh; */
}

