.Footer {
  position: fixed;
  display: table;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 0 0 0 px;
  table-layout: fixed; /* For cells of equal size */
  background-color: rgba(201, 193, 193, 0.719);
  bottom: 0;
}
.Footer li {
  display: table-cell;
  vertical-align:middle;
  text-align: center;
}

.Footer img {max-height: 20px;}

.active img {
  border-radius: 25px;
  background: red;
  padding: 25px;
}
