//CSS for image background
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url("../images/Gellen.jpg");
  padding-bottom: 200px;
}

.Hcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(60, 68, 77, 0.8);
  min-height: 300px;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Hcard:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.685);
}

.Hcard container {
  text-align: center;
  align-items: center;
  width: 35%;
  padding: 10px 45px;
  margin: 2%;
}
